*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans', sans-serif;
}

/* DEBUG */

header.debug{
    background-color: #FE6900;
}

main.debug{
    background-color:red;
}

.debug .container{
    background-color: blueviolet;
}

.debug .row{
    background-color: darkolivegreen;
}

main.debug .row .col-1{
    height: 450px;
}

footer.debug{
    height: 100px;
}

footer.debug .col-1{
    background-color: aqua;
}

/* DEBUG */

/* COLORS */

.text-light{color: white;}
.text-red{color: red;}
.text-orange{color: #FE6900;}

.bg-red{color: red;}
.bg-orange{color: #FE6900;}
.bg-green{color: #FE6900;}


/* LAYOUT */

.nav-inline ul{
    list-style-type: none;
}

.nav-inline ul li{
    display: inline-block;
}

.nav-inline ul li a{
    padding: 10px;
    color: white;
}

.nav-inline ul li a:first-child{
    padding-left: 0;
}

.nav-fix{
    padding-top: 60px;
}

.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
}

.row.row-wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.col-3{width: calc(100%);}
.col-2{width: calc(100% / 3 * 2);}
.col-1{width: calc(100% / 3);}

/* NAVBAR */

header{
    position: fixed;
    width: 100%;
    background-color: #FE6900;
}

.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-nav ul li a{
    text-decoration: none;
    font-weight: bold;
}


.nav-logo > img{
    height: 30px;
}



/* MAIN */

main .container{
    padding: 60px 0px;
}

/* CARDS */

.card{
    padding: 20px;
    background-color: bisque;
}

.card .card-brand{
    font-size: .8rem;
}

.card .card-item{
    font-weight: bold;
    text-transform: uppercase;
}

.card .price-now{
    font-size: .8rem;
    font-weight: bold;
}

.card .price-before{
    font-size: .8rem;
    text-decoration: line-through;
}

.card-img{
    position: relative;
}

.card-img-front{
    position: absolute;
    left: 0;
    top: 0;
}

/* .card-img-front:hover{
    display: none;
} */


.card .card-img img{
    width: 100%;
}

/* FOOTER */

footer{
    padding: 40px 0px;
    background-color: #1a1a1a;
}